.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom,
            var(--color-bg),
            transparent,
            var(--color-bg)),
        radial-gradient(circle, transparent 0%, var(--color-bg) 70%);
}

.wrapper {
    position: relative;
    border: 1px solid var(--color-primary);
    border-radius: var(--rounded-md);
    background: hsl(var(--h), 1%, 10%);
    max-width: clamp(20rem, 90%, 40rem);
    box-shadow: var(--shadow-lg);
}

.wrapper::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(100px);
    background: linear-gradient(95deg, #7baff3, #3f8ef6, #0b2c56, #4e70d0);
    background-size: 200% 200%;
    animation: animateGlow 5s linear infinite;
}

.container {
    padding: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.highlight {
    position: relative;
}

.highlightSelected {
    z-index: 5;
}

.highlightSelected::after {
    opacity: 0.5 !important;
}

.highlight::after {
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    filter: blur(15px);
    background: linear-gradient(95deg, #7baff3, #3f8ef6, #0b2c56, #4e70d0);
    background-size: 200% 200%;
    animation: animateGlow 5s linear infinite;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    pointer-events: none;
    background: hsla(0, 0%, 4%, 0.75);
    transition: opacity 0.2s;
}

@keyframes animateGlow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}